body{
    background-color:#6F4E37;
    color: rgb(255, 255, 255);
}
.image{
    border-radius: 50%;
    width: 50px;
}
.food .img{

    width: 96%;
    height: 400px;
    margin: 0% 2%;
}
.about{
    width: 96%;
    height: 150px;
    margin: 0% 2%;
}